@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
a:visited{
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

ul,li{
    text-decoration: none;
    list-style: none;
    font-family: oxygen;
    font-size: 1rem;
    /* font-weight: 00; */
}
/* ====================words================= */
h1,h2,h3,h4,h5,h6,p,a{
    font-family: oxygen;
    padding: 5px;
    color: #000000;
}
a{
    text-decoration: none;
    color: #0443a7;
    font-weight: 500;
}
/* ===================navigate=========== */
.text-dark a{
    text-decoration: none;
    color: #000000;
}
.text-dark p{
    color: #000000;
}
.text-dark h1{
    color: #000000;
}
.text-dark h2{
    color: #000000;
}
.text-dark h3{
    color: #000000;
}
.text-dark h4{
    color: #000000;
}
.text-dark h5{
    color: #000000;
}
.text-dark h6{
    color: #000000;
}
.text-light a{
    text-decoration: none;
    color: aliceblue;
}
.text-light h1{
    color: aliceblue;
}
.text-light h2{
    color: aliceblue;
}
.text-light h3{
    color: aliceblue;
}
.text-light h4{
    color: aliceblue;
}
.text-light h5{
    color: aliceblue;
}
.text-light h6{
    color: aliceblue;
}
.text-light p{
    color: aliceblue;
}
.disabled{
    background-color: #e2e2e4;
    color: #6b6969;
    /* opacity: 0.9; */
    cursor: not-allowed;
}
.disabled:hover{
    background-color: #e2e2e4;
}
.active{
    background-color: #4fdd36;
    
}
.active:hover{
    background-color: #4fdd36;
}
.nav a,li,ul,ol{
    list-style: none;
    text-decoration: none;
}
.nav{
    /* padding: 15%; */
    width: 100%;
    background-color: #00171f;
    display: flex;
    align-items: center;
}

/* ==========================nav-brand */
.nav-brand {
    padding: 5px;
    font-size: 30px;
    
}
.nav-menu{
    display: flex;
}

/* ========================== color  */
.nav-light{
    background-color: #c1cfeb;
}
.nav-dark{
    background-color: rgb(20, 20, 20);
    
    
}
.nav-ele{
    padding: 15px;

}
.nav-link{
    color: #166cf7;
    font-weight: 500;
    cursor: pointer;

}
.nav-primary{
    background-color: #166cf7;
}
.nav-primary a{
    color: rgb(255, 253, 253);
}
.nav-secondary {
    background-color: #747272;
}
.nav-danger{
    background-color: #ef233c;
}
.nav-transparent{
    background-color: #ef233b00;
}
.nav-warning{
    background-color: #f77f10;
}
.nav-info{
    background-color: #56b9fc;
}
.nav-success{
    background-color: #4fdd36;
}
/* ================= nav position*/
.nav-left{
    padding-right: 15px;
}
.nav-right{
    display: flex;
    justify-content: flex-end;
}
.nav-center{
    display: flex;
    justify-content: center;
}
.nav-fill{
    display: flex;
    justify-content: space-around;
}
.nav-spread{

    display: flex;
    justify-content: space-between;
}
.nav-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}



/* =============button ================ */
.butn{
    outline: none;
    letter-spacing: 0.5px;
    font-weight: 600;
    padding: 10px 20px;
    border-style: none;
    border-radius: 7px;
    background-color: rgba(239, 243, 250, 0.719);
    transition: 0.3s;
}

.butn-primary{
    
    background-color: #2176ff;
    border: 2px solid blue;
}
.butn-primary a{
    color: #000000;
}
.butn-secondary{
    background-color: #5c677d;
    border: 2px solid black;
    
}
.butn-danger{
    background-color: #ef233c;
    border: 2px solid rgb(255, 0, 0);
}
.butn-warning{
    background-color: #f77f10;
    border: 2px solid orangered;
}
.butn-transparent{
    background-color: #f7801000;
}
.butn-dark{
    background-color: #00171f;
    color: #ffffff;
    border: 2px solid #747272;
}
.butn-light{
    background-color: #f8f4f4;
    border: 2px solid black;
}
.butn-info{
    background-color: #56b9fc;
    border: 2px solid #1876b4;
   
}
.butn-success{
    background-color: #5ed649;
    border: 2px solid #299716;
}

.butn:hover{
    opacity:0.9;
}

.butn-xl{
    padding: 18px 55px;
    font-size: larger;
}
.butn-lg{
    font-size: large;
    padding: 15px 43px;
}
.butn-md{
    padding: 12px 30px;
}
.butn-sm{
    padding: 5px 20px;
}
.butn-xs{
    padding: 4px 15px;
}

/* ====================cards */
.thing{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.card{
    background-color: #f5f8fd;
    border-radius: 7px;
}
.back-dark{
    background-color: rgb(20, 19, 19);
}
.back-light{
    background-color: #f5f8fd;
}

.card-image{
    border-radius: 7px;
    
    width: 18rem;
}
.card-image img{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.card-info{
    padding: 10px;
}

/* ====================horizontal card */
.hor-thing{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.hor-card{
    
    display: flex;
    border-radius: 7px;
    flex-direction: row;
    background-color: #f5f8fd;
}
.hor-card-info{
    padding: 20px ;
    text-align: left;
    max-width: 50%;
}
.hor-card-image{
    padding: 20px;
    max-width: 50%;
}


/* ====================list-set */
.list-thing{
    display: flex;
    justify-content: center;
}
.list-set{
    display: flex;
    flex-direction: column;
    margin: 2%;
    width: 30rem;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    border: 1.5px solid rgba(59, 58, 58, 0.425);
}
.list-set-flush{
    border-style: none;
}
.list-ele{
    padding: 15px;
    padding-left: 5%;
    border-bottom: 1.5px solid rgba(59, 58, 58, 0.425);
    transition: 0.3s;
}
.list-ele:hover{
    opacity: 0.5;
}
.list-set-ele{
    padding: 15px;
    padding-left: 5%;
    border-bottom: 1.5px solid rgba(59, 58, 58, 0.425);
    transition: 0.3s;

}
.list-set-ele-action:hover{
    opacity: 0.8;

}
.list-set-ele-action:active{
    background-color: #4fdd36;
}

/* ====================carousel */
.carousel{
    margin: 5% auto;
    background-color: #5c677d;
    overflow: hidden;
}
.carousel .carousel-in{
    display: flex;
    background-color: #1876b400;
    width: 300%;
    height: inherit;
    
}
.carousel-img{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.carousel-in img{
    position: relative ;
    margin: 0;
    left: 0;
    animation:10s linear slide infinite alternate;
    width: 100%;
    height: 90%;
}
@-webkit-keyframes slide {
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    40%{
        left: -100%;
    }
    60%{
        left: -100%;
    }
    80%{
        left: -200%;
    }
    100%{
        left: -200%;
    }
}
/* ======================= input ====== */
.form-set{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1%;
    align-items: center;
}
.input-ele{
    
    width: 55%;
    height: 2.5rem;
    padding: 1%;
    background-color: #f1f4f8;
    outline-style: none;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    border-bottom: 2px solid rgb(0, 0, 0);
}
.ee{
    margin: 1%;
}
.radio-ele{
    background-color: #f1f4f8;
    width: 1.5rem;
    height: 1.5rem;
}
.checkbox-ele{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 8px;
}
.textarea-ele{
    background-color: #f1f4f8;
    width: 55%;
    font-size: 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    border-bottom-right-radius: 0;
    outline-style: none;

}
.select-ele{
    width: 55%;
    height: 2.5rem;
    background-color: #f1f4f8;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    outline-style: none;
    font-size: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

}

/* ====================pagination */
.page-number{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.page-ele {
    font-weight: bold;
    padding: 5px 7px;
    margin: 0.5%;
    border: 2px solid black;
    border-radius: 17%;
    background-color: #f8f4f4;
    opacity: 0.8;
    transition: 0.4s;
}
.page-ele-circle {
    font-weight: bold;
    padding: 5px 7px;
    margin: 0.5%;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    background-color: #eef2f8;
    opacity: 0.8;
    transition: 0.4s;
}
.page-ele a{
    font-weight: 600;
}
.page-ele-circle a{
    font-weight: 600;
}
.page-ele:hover{
    background-color: #dbdee2;

    opacity: 1;
}
.page-primary{
    background-color: #2176ff;
    border: 2px solid blue;
}
.page-secondary{
    background-color: #5c677d;
    color: #ffffff;
    border: 2px solid black;
}
.page-danger{
    background-color: #ef233c;
    border: 2px solid rgb(255, 0, 0);
}
.page-dark{
    background-color: #00171f;
    color: #ffffff;
    border: 2px solid #747272;
}
.page-light{
    background-color: #f8f4f4;
    border: 2px solid black;
   
}
.page-warning{
    background-color: #f77f10;
    border: 2px solid orangered;
}
.page-info{
    background-color: #56b9fc;
    border: 2px solid #1876b4;
}
.page-success{
    background-color: #5ed649;
    border: 2px solid #299716;
}

/* =======================Dropdown =========*/
.dropdown{
    width: 15%;
    border-radius: 8px;
    background-color: #00171f;
    
}
.dropd-toggle{
    font-size: 25px;
    font-weight: 700;
    font-family: oxygen;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.dropd-toggle svg{
    color: white;
}
.dropd-menu{
    width: 15%;
    border-radius: 8px;
    display: none;   
    flex-direction: column;
    /* tex */
    /* justify-content: center; */
    background-color: #00171f;

    transition: 1s;
}
.dropd-item{
    background-color: #00171f;
    width: 100%;
    margin: 1%;
    padding: 5%;
    transition: 0.5s;
}
.dropd-item:hover{
    padding: 1%;
    opacity: 0.8;
}
.dropd-item a{
    background-color: #00171f;
    cursor: pointer;

}

.dropdown:hover .dropd-menu{
    display: flex;
}
/* =================modal======= */
.modal{
    left: 0;
    transform: translateX(40%);
    position: absolute;
    padding: 1%;
    width: 40rem;
    display: none;
    border-radius: 7px;
    background-color: #e9e9e9;
    box-shadow: 2px 2px 15px black;
}
.modal-title{
    text-align: center;
    top: 0;
}
.modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-body input{

    margin: 10%;
}
.modal-button-show{
    margin: 5% ;
}
/* ====================== */

.other{
    height: 45vh;
    background-color: #070b38;
}